@model IEnumerable<StartToBike.Models.Quest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestTask)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestTask)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestId })
        </td>
    </tr>
}

</table>
