@model StartToBike.ViewModels.UsersPerTraining

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training "@Html.DisplayFor(model => model.Training.Title)"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Training.Title)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Training.TrainingLevel)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Training.TrainingLevel)
        </dt>

        <dd>
            Current participants
        </dd>
        <dt>
            @Html.DisplayFor(model => model.Training.Users.Count)
        </dt>
    </dl>
</div>

<div>
    <h4>Users in Training</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveUserFromGame", new { trainingid = Model.Training.TrainingId, accountid = item.AccountId })
                </td>

            </tr>
}

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Training.TrainingId }) |
    @Html.ActionLink("Back to List", "Admin")
</p>
